<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proizvod of proizvodiServis.getAll()">
            <td>{{proizvod.id}}</td>
            <td>{{proizvod.naziv}}</td>
            <td>{{proizvod.opis}}</td>
            <td>{{proizvod.cena}}</td>
            <td><button (click)="proizvodiServis.delete(proizvod.id)">Obrisi</button><button (click)="izmijeni(proizvod)">Izmijeni</button></td>
        </tr>
    </tbody>
</table>
