<app-kupci-dodavanje></app-kupci-dodavanje>
<hr>
<app-kupci-izmjena [kupac]="kupacZaIzmjenu"></app-kupci-izmjena>
<hr>
<app-kupci (kupacIzmjena)="izmijeniKupca($event)"></app-kupci>
<hr>
<app-proizvodi-dodavanje></app-proizvodi-dodavanje>
<hr>
<app-proizvodi-izmjena [proizvod]="proizvodZaIzmjenu"></app-proizvodi-izmjena>
<hr>
<app-proizvodi (proizvodIzmjena)="izmijeniProizvod($event)"></app-proizvodi>
<hr>
<app-kupovine-dodavanje></app-kupovine-dodavanje>
<hr>
<app-kupovine-izmjena [kupovina]="kupovinaZaIzmjenu"></app-kupovine-izmjena>
<hr>
<app-kupovine (kupovinaIzmjena)="izmijeniKupovinu($event)"></app-kupovine>